@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

.main {
  width: 100vmin;
  height: 100vmin;
  border-radius: 16vmin;
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6vmin;
}

.work{
  background: #f04f32;
  display: flex;
}

.rest{
  background: #38d6ac;
  display: flex;
}

.settingMain {
  background: #e3e3e3;
  display: none;
}

.timer {
  font-size: 25vmin;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  user-select: none;
}

.btn {
  opacity: 0;
  color: white;
  font-size: 16vmin;
}

.btn:hover {
  opacity: 1;
}

.stBtn {
  color: #a3a3a3;
  font-size: 16vmin;
}

.stBtn:hover {
  color: #942a00;
  font-size: 16vmin;
}

.textLine {
  display: flex;
  justify-content: space-between;
}

.inText {
  outline: none;
  border-style: none;
  width: 20vmin;
  text-align: center;
  background: none;
  margin-left: auto;
}

.inText:focus {
  border-style: none;
  border-width: 0;
}

.text {
  font-size: 10vmin;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btnContainer {
  display: flex;
  gap: 7vmin;
}

.hide {
  display: none;
}

.show {
  display: flex;
}
